/* style to all page  */
/* width */
/* variables */
html {
    --mainColor: #961a1a;
    --facebook: #3b5999;
    --twitter: #55acee;
    --instagram: #e4405f;
    --youtube: #cd201f;
    --linkedin: #0077B5;
    --mainDark : #222222;
    --github : #00405d;
    --whatsApp : #25D366;
    --skype : #00AFF0

}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--mainColor);
    border-radius: 100px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.download-cv , .demo-cv {
    padding: .84rem 2.14rem;
}
i.fa-star {
    color: #ffc107!important;
}

.my {
    position : relative;
}

.my::after {
    content: " ";
    position: absolute;
    bottom: -7px;
    width: 85%;
    background: var(--mainColor);
    height: 2px;
    left: 0;
}

body {
    /* overflow: hidden; */
    transition: .5s ease-in;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


a.nav-link {
    transition: all .3s ease-in-out !important;
    cursor: pointer !important;
}

.cookie {
    width: 100%;
    z-index: 10;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    background: rgba(44, 62, 80, .9);
    color: #fff;
    display: none;
    text-transform: capitalize;
}

.cookie .cookie-number {
    font-size: 30px;
    color: var(--danger)
}

.cookie a {
    color: var(--blue);
    font-size: 22px
}

.cookie a:hover {
    color: var(--instagram)
}

.cookie .btn-block {
    width: 50%;
    font-size: 22px;
    letter-spacing: 3px;
    padding: 0;

}

.contact .alert {
    max-width: 50%;
    margin: 10px auto;
    font-size: 20px;
    text-align: center
}

.msg {
    padding: 15px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    z-index: 5;
    line-height: 4;
    top: -1;
    left: 29%;
    width: 35%;
    height: 35%;
}

.top {
    display: none;
    cursor: pointer;
}

.top>i {
    font-size: 40px;
    color: var(--blue);
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 6 !important;
}

.line { 
    height : 1.4px;
    width: 90%
}

/* start second menu  */

/* start style header */
.head {
    max-width: 100%;
    background-image: url('../images/headBackground.jpg');
    background-size: cover;
    position: relative;
}

.head .sec,
.contact .feat {
    position: absolute !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .3);
}

.head .sec p {
    color: #fff
}

.head .navbar .navbar-toggler {
    outline: none;
    border: none;
    transition: all .3s ease-in-out;
}

.head .navbar .navbar-toggler:hover i {
    color: var(--mainColor);
}

.head .navbar .navbar-toggler i {
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: all .4s linear !important;
    transform: scale(1.6, 1.2);
}

.head .navbar {
    padding: 10px;
    z-index: 3;
    border-bottom: 4px solid rgba(109, 109, 109, .5);
}

.bg-dark {
    background-color: rgba(52, 58, 64, .9) !important;
}

.logo {
    position: relative;
    width: 60px;
    height: 40px;
    outline: none
}

.logo>span {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none
}

.navbar .logo>span:nth-child(1) {
    background: #c1c1bf
}

.navbar .logo>span:nth-child(2) {
    background: var(--mainColor);
    z-index: 2;
    left: -8px;
    top: -1px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
}

.navbar .nav-item {
    padding-left: 25px;
    text-transform: capitalize;
    height: 100%;
    color: #fff
}

.navbar .nav-item .nav-link {
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    height: 100%;
    position: relative;
    transition: all .2s linear;
    cursor: pointer !important;

}

.navbar .nav-item:hover>.nav-link,
.nav-item.active>.nav-link,
.show>.nav-link,
.navbar .nav-item:active>.nav-link {
    color: #fff !important;
}

.navbar .nav-item:not(.dropdown):hover>.nav-link:after,
.navbar .nav-item:not(.dropdown).active>.nav-link:after {
    content: '';
    position: absolute;
    top: 59px;
    height: 4px;
    width: 100%;
    background: var(--mainColor);
    left: 0;
    transition: all .7s linear;
    -webkit-transition: all .7s linear;
    -moz-transition: all .7s linear;
    -ms-transition: all .7s linear;
    -o-transition: all .7s linear;
}
.navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
    background-color: initial !important;
}

.navbar .social-media span>i {
    margin-left: 20px;
    line-height: 2.5;
    font-size: 17px;
    color: #fff;
    cursor: pointer;

}

.navbar .social-media .fa-facebook-f:hover {
    color: var(--facebook);
    font-weight: bold;
}

.navbar .social-media .fa-youtube:hover {
    color: var(--youtube);
    font-weight: bold;
}

.navbar .social-media .fa-twitter:hover {
    color: var(--twitter);
    font-weight: bold;
}

.navbar .social-media .fa-instagram:hover {
    color: var(--instagram);
    font-weight: bold;
}

.navbar .social-media .fa-linkedin-in:hover {
    color: var(--linkedin);
    font-weight: bold;
}

.navbar .social-media .fa-phone:hover {
    color: var(--linkedin);
    font-weight: bold;
}


.head .sec .my-title {
    color: #fff;
    font-size: 100px;
    margin: 120px auto 0;
    letter-spacing: 10px;
    text-transform: uppercase;
    transition: all .3s ease-in-out
}

.head .sec .txt-tit {
    margin: 0 auto 20px;
    padding: 0;
    letter-spacing: 15.5px;
    text-transform: capitalize;
    line-height: 0;
    transform: scale(1, 0.788);

}

.head .sec .scroll {
    position: absolute;
    margin: 50px auto 0;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    /* transition: all .3s ease-in-out; */
}

.head .sec .scrolling-icon {
    position: absolute;
    margin: 0 auto 20px;
    border-radius: 50% 50%;
    border: 1px solid rgba(255, 255, 255, .4);
    width: 50px;
    height: 50px;
    padding-top: 2px;
    font-size: 30px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    /* transition: all .3s ease-in-out; */
}

.dropdown-menu {
    background: rgba(52, 58, 64, .7);
    border: none;
    top: 130%;
    padding: 0;
    margin: 0;

}

.dropdown-menu>a.nav-link {
    margin-left: 0 !important;
    color: #beb9b9 !important
}

.dropdown-menu>.nav-link:hover {
    /* background: white;*/
    color: var(--light) !important;
    padding-left: 20px;
}

/* end style header */

/* start features  */

.features .language , .features .language-percent {
    font-size: 16px;
    /* color: #fff; */
    font-weight: 400;
    top: -10px;
}
.features .language{
    left: 0;

}


.features .language-percent {
    right: calc(100% - 75%);
}

.features .progress{
    height:.5rem;
}

.features .progress-bar {
    background-color : var(--mainColor) !important;
}

.features .feat,
.extensions .feat,
.contact .feat {
    margin-top: 50px;
    position: relative;
}

.features .letter,
.extensions .letter,
.contact .letter {
    display: block;
    font-size: 90px;
    position: absolute;
    left: calc(50% - 48px);
    top: calc(5% - 140px);
    color: #aa4847;
    font-weight: 600;
    z-index: 1;
}

/* .features .phrase, */
.extensions .phrase,
.contact .phrase {
    z-index: 2 !important;
    position: absolute;
    left: calc(50% - 165px);
    top: calc(5% - 93px);
    font-size: 30px;
    text-transform: capitalize
}

.features .phrase{
    z-index: 2 !important;
    position: absolute;
    top: calc(5% - 100px);
    left: 50%;
    transform: translateX(-53%);
    font-size: 40px;
    text-transform: capitalize;
    font-family: serif;
}

.features .feat2,
.extensions .feat2 {
    padding-top: 80px;
    padding-bottom: 20px;
}

.features .icon-feat {
    background: #b12929;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto
}

.features .icon-feat>i {
    line-height: 2.5
}

.features .head-feat,
.extensions .head-feat {
    margin: 15px auto 20px;
    font-family: serif;
    font-size: 23px;
}

.features .content-feat>p,
.extensions .content-feat>p {
    margin-bottom: 60px
}

.features .content-feat h5 {
    text-transform: uppercase
}

.features .my-skill {
    font-size: 60px;
}


/* end features  */
/* start work */
.work {
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
}
.work .work-header {
    font-size: 60px;
    color: hsl(0, 100%, 22%);
}
.work .work-header .my::after {
    background:black;
}

.work .box-shadow {
    box-shadow: 10px 20px 20px #ddd, -10px 4px 20px #ddd !important;
}
.work .container-work {
    height: 477px !important;
}
.accordion-container > h2{
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;

}
.accordion-container .info {
    display: block;
    text-align: start;
}

.set{
    position: relative;
    width: 100%;
    height: auto;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
}
.set > a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.set > a i{
    float: right;
    margin-top: 2px;
}
.set > a.active{
    background-color:#929fba;
    color: #fff;
}
.content{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display:none;
}
.content > div{
    padding: 10px 15px;
    margin: 0;
    color: #333;
}

.work .btn-floating {
    position: relative;
    top:-30px;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px 10px 0 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}

.work .btn-floating > i {
    display: inline-block;
    position: absolute;
    width: inherit;
    color: #fff;
    text-align: center;
    font-size: 25px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

/* end work */

/* start blog  */
.extensions .my-blog {
    font-size: 19px;
    line-height: 1.7;
}

.extensions .header-blog {
    font-size : 60px;

}

.extensions a > span > i{
    margin-left: 20px;
    line-height: 2.5;
    font-size: 17px;
    color: #4f4f4f;
    cursor: pointer;
}

.extensions .social-media-blog .fa-facebook-f:hover {
    color: var(--facebook);
    font-weight: 900;
}

.extensions .social-media-blog .fa-instagram:hover {
    color: var(--instagram);
    font-weight: 900;
}

.extensions .social-media-blog .fa-youtube:hover {
    color: var(--youtube);
    font-weight: 900;
}

.extensions .social-media-blog .fa-whatsapp:hover {
    color: var(--whatsApp);
    font-weight: 900;
}

.extensions .social-media-blog .fa-twitter:hover {
    color: var(--twitter);
    font-weight: 900;
}

.extensions .social-media-blog .fa-skype:hover {
    color: var(--skype);
    font-weight: 900;
}

.extensions .social-media-blog .fa-linkedin-in:hover {
    color: var(--linkedin);
    font-weight: 900;
}


.extensions .social-media-blog .fa-github:hover {
    color: var(--github);
    font-weight: 900;
}

.extensions .social-media-blog .fa-gitlab:hover {
    color: var(--danger);
    font-weight: 900;
}
/* end blog */
/* start tutorials  */
.tutorials {

    padding-top: 0;
    background: #222 ;
}

.tutorials i {
    font-size: 40px;
    padding-right: 5px;
    margin-bottom: 15px
}


.tutorials .tutorials-content {
    padding-top: 30px;
    padding-bottom: 30px
}

/* end tutorials */

/* contact us  start*/
.contact {
    padding: 15px 0;
    min-height: 680px;
    position: relative;
    background-image: url('../images/contact-us.jpg');
    background-size: cover;
}

.contact .feat {
    padding: 140px 2px;
    margin: 0 auto;
    background-color: rgba(38, 38, 38, .7);

}

.contact .phrase {
    left: calc(30% - 183px);
    top: calc(26% - 85px);
    transform: scale(1, .7);
    color: #fff
}

.contact .letter {
    font-family: serif;
    font-size: 110px;
    font-weight: unset;
    left: calc(57% - 153px);
    top: calc(25% - 140px);
    color: rgba(169, 167, 167, 0.6);

}

.contact .cont-contact {
    padding: 100px 10px;
    margin: 0 auto;
}

.contact input[type='text'],
.contact input[type='email'],
.contact textarea,
.contact textarea:focus {
    background-color: rgba(38, 38, 38, .7);
    color: #fff;
    border: none
}

.contact .invalid-feedback {
    color: #bdc3c7;
    font-size: 15px;
    padding: 0 5px;
}

.contact button {
    text-transform: capitalize
}

/* end contact us */

/* start footer */
.footer {
    background-color: #222;
    color: #fff;
    text-transform: capitalize;
    clear: both;
    overflow: hidden;
}

.footer .container {
    padding: 0;
    margin: 0 auto
}

.footer p {
    margin: 6px auto;
    padding: 7px;
    line-height: .8;
}

/* end footer */












/* start media  */

/* for screen mobile */
@media (max-width : 600px) {
    .head .sec .my-title {
        font-size: 60px
    }

    .head .sec .txt-tit {
        letter-spacing: 7px
    }
}

/* for screen media and mobile */
@media (max-width : 768px) {
    .features .phrase {
        top: calc(1% - 98px);
        left: 50%;
        font-size: 32px;
        transform: translateX(-48%);
        -webkit-transform: translateX(-48%);
        -moz-transform: translateX(-48%);
        -ms-transform: translateX(-48%);
        -o-transform: translateX(-48%);
}

    .features .letter {
        left: calc(50% - 37px);
        top: calc(1% - 144px);
    }

    .extensions .phrase {
        left: calc(59% - 115px);
        top: calc(4% - 113px);
    }

    .contact .letter {
        font-size: 196px;
        left: calc(66% - 153px);
        top: calc(17% - 140px);
    }

    .contact .alert {
        max-width: 100%;
    }

    .footer p {
        font-size: 10px
    }

    .lds-spinner {
        left: 19px !important;
    }

    .contact {
        min-height: 791px;
    }
    .send {
        margin-left: auto !important;
        margin-right: auto !important;

    }

    .sk-circle {
        top: -140px !important;
        left: 0px !important;
    }
}

/* for screen media */
@media (max-width : 1000px) {
    .navbar-collapse {
        margin: 20px 0 0 0
    }

    .navbar-collapse .nav-item {
        padding: 0
    }

    .navbar-collapse .nav-item .nav-link {
        margin: 0
    }

    .navbar .nav-item:not(.dropdown):hover>.nav-link:after,
    .navbar .nav-item:not(.dropdown).active>.nav-link:after {
        display: none
    }

    .navbar .nav-item.active>.nav-link {
        color: var(--mainColor) !important;
        /* font-weight: bold; */
        font-size: 22px
    }

    .navbar .nav-item:not(.dropdown):hover>.nav-link {
        margin-left: 15px;
        /* font-weight: 900; */
        letter-spacing: 2px
    }

    /* .sk-circle {  top: -136px !important;  left: 130px !important;} */
    .dropdown-menu>a.nav-link {
        padding-left: 20px;
    }

    .dropdown-menu>.nav-link:hover {
        padding-left: 35px;
    }

}

@media (min-width : 768px) and (max-width:1024px) {
    .sk-circle {
        left: 190px !important;
    }

}


/* for navbar */
/* for screen mobile 989*/
@media (min-width : 1327px) and (max-width:1452px) {
    .navbar .nav-item {
        padding-left: 10px;
    }
}

@media (min-width : 989px) and (max-width:1327px) {
    .navbar .nav-item {
        padding-left: 0px;
    }

    .navbar .nav-item:not(.dropdown):hover>.nav-link:after, 
    .navbar .nav-item:not(.dropdown).active>.nav-link:after {
        top: 54px;
    }
}

@media (min-width : 990px) and (max-width:1199px) {
    .social-media {
        display: none !important
    }

}



@media (min-width : 768px) and (max-width:1200px) {
    .extensions .phrase {
        left: calc(59% - 138px);
        top: calc(4% - 96px);
    }

}


@media (max-width:561px) {
    .contact .phrase {
        left: calc(45% - 150px);
        top: calc(26% - 95px);
        font-size: 25px;
    }

}

@media (max-width : 350px) {
    .head .sec .my-title {
        font-size: 50px
    }

    .head .sec .txt-tit {
        letter-spacing: 4.3px;
    }

}

/* end media  */



/* class useful */
.margin-to-top {
    margin-top: 425px !important
}

.rotate {
    transform: rotate(90deg) !important;
}


/* loading  */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--linkedin);
    z-index: 6;
    color: #fff
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    top: 20%;
    position: relative;
}

.cube1,
.cube2 {
    background-color: var(--light);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}


.sk-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    top: -136px;
    left: 230px;
    display: none
}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
